body {
    background-color: rgb(250, 180, 100);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 5%;
}

p {
    background-color: rgb(250, 192, 123);
    padding-left: 10%;
    padding-right: 10%;
}

a:hover {
    color: aqua;
}